/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.bold{
    font-weight: 700;
}
main{
    padding-left:240px;
}
.pad{
    padding:16px;
}

#download-button{
    width:320px;
    height:84px;
    line-height:84px;
    font-size:24px;
    font-weight:400;
}