<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/init.js"></script>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About TitanCast</h5>
                    <p class="grey-text text-lighten-4">
                        
                    </p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">GitHub</a>
                        </li>
                        <li><a class="white-text" href="#!">Reddit</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Other</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Version History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="white-text text-lighten-3" href="https://github.com/hydrabolt/">Amish Shah</a>
            </div>
        </div>
    </footer>