var MyApp = new TitanCastApplication(
    "Circle Test",
    "Control a circle from your phone",
    "http://titancast.github.io/developer/controller.html"
);

var Device = MyApp.createDevice( prompt("Connection Code") );

window.device = Device;

var alreadyEnabled = false;

Device.setEvent("custom data", function(data){

    data = data.map(parseFloat); //get the coordinate variable

    var x = data[0], //get the x coord
        y = data[1]; //get the y coord

    setLoc(x, y); // set the coordinates of the on-screen circle to x and y

    if(!alreadyEnabled){

            alreadyEnabled = true;
    }

});

Device.setEvent("accelerometer data", function(e){

});

/*
  this demo references code that is non-essential to use
  TitanCast. The referenced methods - e.g. setLoc - is
  only used for rendering purposes
*/
