var icon = new Image();
icon.src = "https://avatars1.githubusercontent.com/u/12214009?v=3&s=200";

var MyApp = new TitanCastApplication(
    "Fake Controller Preview", //title of our application - will appear on app
    "Control a square from your phone", //description of our application, does not yet appear on app
    "http://192.168.0.9:4000/developer/controller.html", //the controller that will be sent to the device.,
    icon
);

console.log(MyApp);

var Device = MyApp.createDevice(prompt("Connection Code")); //creates a new Device object that is already hooked into our application

Device.on("customData", function(data) {

    type = data[0];
    data.splice(0, 1);

    switch (type) {

        case "joystick":
            direction = data[0];
            break;

        case "touch":
            touchDown = (data[0] == "start" ? true : false);
            simulate();
            break;

        case "button":
            if (data[0] == "A") {
                buttonA = (data[1] == "start" ? true : false);
            } else if (data[0] == "B") {
                buttonB = (data[1] == "start" ? true : false);
            }
            if (buttonA) {
                stamp();
            } else if (buttonB) {
                clear();
            }
            break;
    }
});