<header>
    <div class="container hide-on-large-only" id="mobileactive"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="mdi-navigation-menu white-text"></i></a></div>
    <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
        <li class="center cyan darken-2" style="height:110px">
            <a id="logo-container" href="/" class="brand-logo white-text"><div style="width:1px;height:15px"></div>
                <img src="/res/sitelogo.png" width="100%"/>
            </a>
        </li>
        <li class="bold"><a href="/" class="waves-effect waves-teal">Home</a></li>
        <li class="bold"><a href="/#about" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="/download/" class="waves-effect waves-teal">Downloads</a></li>
    </ul>
</header>