---
layout: default
title: Developer
---

<main>
    <div class="center-align white-text cyan darken-1">
        <div class="container"><br>
            <img src="/res/devbanner.png" class="responsive-img" width="60%"/>
        </div><br>
        <br>
        <div class="row container">
            <h5 class="light">Make your applications even more awesome!</h4>
        </div>
        <br><br>
        <div class="row">
            <a href="https://github.com/TitanCast/" id="github-button" class="btn-large waves-effect cyan darken-4 grey-text text-lighten-3">VIEW ON GITHUB</a>
        </div>
        <br><br>
    </div>
    <div class="grey-text text-lighten-1 grey darken-3"><br>
        <div class="container" id="github">
            <a class="hide-on-med-and-down bold grey-text text-lighten-2" href="https://github.com/TitanCast/TitanCast/tree/indev" title="Edge Version contains the most recent developer updates">edge version </a>
        </div>
    <br></div>
    <div class="grey-text text-lighten-3 cyan lighten-1">
        <a name="about"></a>
        <div class="container">
            <div class="section">
                <p class="flow-text center-align">
                    We've made it <i>really</i> simple for you to integrate TitanCast into your applications,
                    so you can still continue to devote your attention to <i>your</i> application. Just see:
                </p>
            </div>
        </div>
    </div>
    <div class="cyan-text text-darken-3 white">
        <div class="container section">
            <h1>JavaScript <a href="javascript:runDemo()" class="btn"><h6><i class="fa fa-play"></i> PREVIEW</h6></a></h1>
            <h5 class="light">This demo is not finished just yet</h5>
            <div class="row">
                <div class="col grey lighten-3 s12 m7 l7">
                    <pre><code class="javascript">{% include jsdemo.html %}</code></pre>
                </div>
                <div class="col s12 m5 l5" id="canv">
                </div>
            </div>
        </div>
    </div>
    <div class="white-text grey darken-4">
        <div class="section">
            <div class="container">
                <h3>Current Functionality</h3>
                <p class="flow-text grey-text text-lighten-1">
                    Currently, our efforts are being focussed on the JavaScript API so that it is able to fully
                    interact with the TitanCast application. After that, other APIs such as the Java API will be further
                    developed.
                </p>
            </div>
        </div>
    </div>

    <script>
        var direction = "",
        touchDown = false,
        buttonA = false,
        buttonB = false;
        function runDemo(){
            {% include jsdemo.html %}
        }
        {% include jsdemorender.html %}
    </script>

</main>

<script src="/js/github.js"></script>
