---
layout: default
title: Developer
---


<main>
    <div class="center-align white-text cyan darken-1">
        <div class="container">
            <img src="/res/devbanner.png" class="responsive-img" width="60%" />
        </div>
        <br>
        <div class="row container">
            <h5 class="light">Make your applications even more awesome!</h4>
        </div>
        <br><br>
        <div class="row">
            <a href="https://github.com/TitanCast/" id="github-button" class="btn-large waves-effect cyan darken-4 grey-text text-lighten-3">VIEW ON GITHUB</a>
        </div>
        <br><br>
    </div>
    <div class="grey-text text-lighten-3 cyan">
        <a name="about"></a>
        <div class="container">
            <div class="section">
                <p class="flow-text center-align">
                    We've made it <i>really</i> simple for you to integrate TitanCast into your applications,
                    so you can still continue to devote your attention to <i>your</i> application. Just see:
                </p>
            </div>
        </div>
    </div>
    <div class="cyan-text text-darken-3 white">
        <div class="container section">
            <h1>JavaScript <a href="javascript:runDemo()" class="btn"><h6><i class="fa fa-play"></i> PREVIEW</h6></a></h1>
            <div class="row">
                <div class="col grey lighten-3 s12 m7 l7">
                    <pre><code class="javascript">{% include jsdemo.html %}</code></pre>
                </div>
                <div class="col s12 m5 l5" id="canv">
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function runDemo(){
            {% include jsdemo.html %}
        }
         
          var renderer = new PIXI.WebGLRenderer(400, 400);
            
        $("#canv").append(renderer.view);

        var stage = new PIXI.Container();

        var circleT = PIXI.Texture.fromImage('/res/Circle.png');
        var circle = new PIXI.Sprite(circleT);

            
        circle.position.x = 50;
        circle.position.y = 50;

                circle.anchor.x = 0.5;
                circle.anchor.y = 0.5;
            
        stage.addChild(circle);

        animate();

        function animate() {
            requestAnimationFrame(animate);
            renderer.render(stage);
        }
            
        function pp(c){
            var chunks = c.split(" ");
            
            var parts = [];
            
            for(chunk in chunks){
                parts.push( parseInt(chunks[chunk], 16) );
            }
                
            return parts.join(".");
        }
        
        function setLoc(x, y){
            circle.position.x = x*2;
            circle.position.y = y*2;
        }
    </script>
    
</main>